{% extends 'women/base.html' %}

{% block content %}
<h1>{{title}}</h1>

<form action="{% url 'add_page' %}" method="post" enctype="multipart/form-data"> {# атрибут action говорит о том, к какому url нужно обратиться для обработки формы, когда будем отправлять данные на сервер (перенаправление идет туда же, на ту же саму страницу) #}
    {% csrf_token %} {# токен csrf защищает от csrf-атак, когда форму по внешнему виду пытаются создать такую же, но на другом сайте. Пользователь вводит свои данные на левом сайте, тогда злоумышленник получает его данные  #}
    
  <div class="form-error">{{ form.non_field_errors }}</div> {# показывать ошибки, не связанные с полями #}

    {% for f in form %}
<p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}: </label> {{ f }}</p>
<div class="form-error">{{ f.errors }}</div>
    {% endfor %}


    <button type="submit">Добавить</button>
</form>




{% endblock %}

{# помимометода post, если передаются какие-либо файлы - обязательно указывать enctype="multipart/form-data" #}
{# также указывают метод передачи этих данных в строке 6. method post уазывают при передаче фотографии, логина или пароля - когда нужна безопасная передача, чтобы не было видно как идет передача #}
{% csrf_token %} - принцип действия таков: генерируется каждый раз определенный токен, который генерируется каждый раз при обновлении. Если токен совпадает - страница обрабатывается. Если нет - обрабатываться не будет
{# почему в  url указывают add_page #}

{# {{ form.as_p }} # тег, позволяющий отображать все поля формы через тег абзаца p. То есть as_p() - функция, но мы ее не вызываем, а только передаем ссылку на нее. Шаблонизатор вызывает ее сам #}
{# {{form.title.label}}</label>{{ form.title }} - отображает заголовок поля <label></label> #}
{# {{ form.title }} - вместо title  соответствующий тег вместо поля заголовка #}
{# div, p - произвольные теги, можно придумывать другое оформление #}

